@import "variables";

body {
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
}

h1 {
  font-family: IBMPlexMono;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

h2 {
  font-family: IBMPlexMono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

h3 {
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

// Sidebar Customization
.sidebar-section-header-text {
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.sidebar-section-link-content-text {
  font-family: IBMPlexSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.sidebar-section-header-caret svg {
  color: var(--primary) !important;
}

.sidebar-section-link-prefix.icon {
  color: var(--primary) !important;
}

.sidebar-section-header-wrapper {
  background: transparent;

  &:focus,
  &:hover {
    background: var(--primary-low);
    border-radius: 40px;
  }
}

.sidebar-section-link-wrapper {
  background: transparent;

  .sidebar-more-section-links-details-summary {
    color: var(--primary) !important;
    background: transparent;

    .d-icon {
      color: var(--primary) !important;
    }

    &:focus,
    &:hover {
      background: var(--primary-low);
      border-radius: 40px;
    }

    &.active {
      background: var(--primary-low-mid) !important;
      border-radius: 40px;
    }
  }

  .sidebar-section-link,
  .sidebar-section-link-button {
    color: var(--primary) !important;
    background: transparent;

    .sidebar-section-link-prefix {
      &.icon,
      &.span {
        color: var(--primary);
      }
    }

    &:focus,
    &:hover {
      background: var(--primary-low);
      border-radius: 40px;
    }

    &.active {
      background: var(--primary-low-mid) !important;
      border-radius: 40px;
    }
  }

  .sidebar-section-link--active {
    background: var(--primary-low-mid) !important;
    border-radius: 40px;
  }

  .sidebar-section-link-prefix {
    &.icon,
    &.span {
      color: var(--quaternary) !important;
    }
  }
}

// End Sidebar Customization

// Input Customization
.select-kit-selected-name {
  .category-name,
  > span {
    color: var(--primary) !important;
    font-family: IBMPlexMono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
  }
}

.list-controls .combo-box .combo-box-header {
  border-radius: 40px;
  border: 1px solid var(--primary);
  height: 30px;
  padding: 10px 14px;
  align-items: center;
}

.category-name {
  color: var(--primary) !important;
}

.nav-pills:not(.user-nav):not(.action-list) > li {
  height: 30px;
  border-radius: 40px;
  background-color: transparent;

  a.active {
    background-color: var(--primary);
    border-radius: 40px;
    height: 30px;
  }

  a:hover {
    border-radius: 40px;
    height: 30px;
  }
}

#navigation-bar.nav-pills > li {
  height: 30px;
  border-radius: 40px;
  background-color: transparent;

  > a {
    font-family: IBMPlexMono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
    transition: none !important;

    .active {
      color: var(--secondary);
    }

    :not(.active) {
      color: var(--primary);
    }
  }
}

#create-topic {
  border-radius: 40px;
  border: 1px solid var(--primary) !important;
  height: 30px;
  padding: 10px 14px;
  align-items: center;
  background-color: var(--secondary);
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;

  svg {
    color: var(--primary);
  }

  &:hover {
    color: var(--primary);
    background-color: transparent;

    svg {
      color: var(--primary);
    }
  }
}

.admin-controls {
  nav {
    background-color: var(--secondary);
  }

  background-color: var(--secondary);
}

th[data-sort-order="default"] > span {
  color: var(--primary) !important;
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin-left: 10px;
}

th[data-sort-order="posters"] > span,
th[data-sort-order="views"] > span,
th[data-sort-order="activity"] > span,
th[data-sort-order="posts"] > span {
  color: var(--primary) !important;
  font-family: IBMPlexSans;
  text-align: center;
  font-size: 15.008px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.011px;
}

.topic-status > svg {
  color: var(--primary) !important;
}

a.title.raw-link.raw-topic-link {
  color: var(--primary) !important;
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.num.views > button > span,
.num.posts > button > span,
.num.activity > button > span,
.num.views,
.num.posts,
.num.activity,
.topic-last-activity > a > span {
  color: var(--primary) !important;
  text-align: center;
  font-family: IBMPlexSans;
  font-size: 15.008px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.011px;
}

.top-list-header > tr {
  border-bottom: 1px solid var(--primary);
}

.active.chat-tabs-list__link {
  > span {
    color: #F7F6F6 !important;
  }
}

th.category, th.topics {
  color: var(--primary) !important;
  font-family: IBMPlexSans;
  font-size: 15.008px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.011px;
}

td.topics {
  color: var(--primary) !important;
  font-family: IBMPlexSans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24.136px;
}

div.latest-topic-list > div.table-heading {
  color: var(--primary) !important;
  font-family: IBMPlexSans;
  font-size: 15.008px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.011px;
}

div.latest-topic-list-item > div.topic-stats {
  display: flex;
  justify-content: flex-end;
}

.topic-last-activity {
  margin-left: 20px;
  min-width: 50px;
}

.category-description {
  font-family: IBMPlexSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.badge-category > svg {
  color: var(--primary) !important;
}

.top-row > a {
  color: var(--primary) !important;
  font-family: IBMPlexMono;
  font-size: var(--font-up-1);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-medium);
}

// remove animation when topic is loaded
.highlighted {
  animation: none !important;
}

@keyframes background-fade-highlight {
  0% {
    background-color: var(--highlight-low);
  }
  100% {
    background-color: var(--secondary);
  }
}

