@import "variables";

body {
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
}

h1 {
  font-family: IBMPlexMono;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

h2 {
  font-family: IBMPlexMono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

h3 {
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

// Sidebar Customization
.sidebar-section-header-text {
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.sidebar-section-link-content-text {
  font-family: IBMPlexSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.sidebar-section-header-caret svg {
  color: var(--primary) !important;
}

.sidebar-section-link-prefix.icon {
  color: var(--primary) !important;
}

.sidebar-section-header-wrapper {
  &:focus,
  &:hover {
    background: var(--primary-low);
    border-radius: 40px;
  }
}

.sidebar-section-link-wrapper {
  .sidebar-more-section-links-details-summary {
    .d-icon {
      color: var(--primary) !important;
    }
    &:hover {
      background: var(--primary-low);
      border-radius: 40px;
    }
    &.active {
      background: var(--primary-low-mid) !important;
      border-radius: 40px;
    }
  }
  .sidebar-section-link, .sidebar-section-link-button {
    color: var(--primary) !important;

    &:hover {
      background: var(--primary-low);
      border-radius: 40px;
    }
    &.active {
      background: var(--primary-low-mid) !important;
      border-radius: 40px;
    }
  }
  .sidebar-section-link--active {
    background: var(--primary-low-mid) !important;
    border-radius: 40px;
  }
}


// End Sidebar Customization

// Input Customization
.select-kit {
  border-radius: 40px;
  border: 1px solid var(--primary);
  height: 30px;
  padding: 10px 14px;
  align-items: center;
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
}

.nav-pills:not(.user-nav) > li a.active {
  background-color: var(--primary);
  border-radius: 40px;
  height: 30px;
}

.nav-pills:not(.user-nav) > li a:hover {
  border-radius: 40px;
  height: 30px;
}

#navigation-bar .nav-pills {
  > li {
    > a {
      font-family: IBMPlexMono;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      text-transform: capitalize;
      color: var(--secondary);
    }
  }
}

#create-topic {
  border-radius: 40px;
  border: 1px solid var(--primary) !important;
  height: 30px;
  padding: 10px 14px;
  align-items: center;
  background-color: var(--secondary);
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
}

.admin-controls {
  background-color: var(--secondary);
}

@keyframes background-fade-highlight {
  0% {
    background-color: var(--highlight-low);
  }
  100% {
    background-color: var(--secondary);
  }
}
