@import "variables";

body {
  font-family: IBMPlexSans;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
}

h1 {
  font-family: IBMPlexMono;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

h2 {
  font-family: IBMPlexMono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

h3 {
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

// Sidebar Customization
.sidebar-section-header-text {
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.sidebar-section-link-content-text {
  font-family: IBMPlexSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.sidebar-section-header-caret svg {
  color: var(--primary) !important;
}

.sidebar-section-link-prefix.icon {
  color: var(--primary) !important;
}

.sidebar-section-header-wrapper {
  background: transparent;

  &:focus,
  &:hover {
    background: var(--primary-low);
    border-radius: 40px;
  }
}

.sidebar-section-link-wrapper {
  background: transparent;

  .sidebar-more-section-links-details-summary {
    color: var(--primary) !important;
    background: transparent;

    .d-icon {
      color: var(--primary) !important;
    }

    &:focus,
    &:hover {
      background: var(--primary-low);
      border-radius: 40px;
    }

    &.active {
      background: var(--primary-low-mid) !important;
      border-radius: 40px;
    }
  }

  .sidebar-section-link,
  .sidebar-section-link-button {
    color: var(--primary) !important;
    background: transparent;

    .sidebar-section-link-prefix {
      &.icon,
      &.span {
        color: var(--primary);
      }
    }

    &:focus,
    &:hover {
      background: var(--primary-low);
      border-radius: 40px;
    }

    &.active {
      background: var(--primary-low-mid) !important;
      border-radius: 40px;
    }
  }

  .sidebar-section-link--active {
    background: var(--primary-low-mid) !important;
    border-radius: 40px;
  }

  .sidebar-section-link-prefix {
    &.icon,
    &.span {
      color: var(--quaternary) !important;
    }
  }
}

#sidebar-section-content-categories {
  li[data-category-id="4"] {
    span.sidebar-section-link-prefix.span > span {
      background: linear-gradient(90deg, #B6B6B6 50%, #B6B6B6 50%) !important;
    }
  }

  li[data-category-id="2"] {
    span.sidebar-section-link-prefix.span > span {
      background: linear-gradient(90deg, #808080 50%, #808080 50%) !important;
    }
  }

  li[data-category-id="3"] {
    span.sidebar-section-link-prefix.span > span {
      background: linear-gradient(90deg, #222 50%, #222 50%) !important;
    }
  }
}

// End Sidebar Customization

// Input Customization
.list-controls .combo-box .combo-box-header {
  border-radius: 40px;
  border: 1px solid var(--primary);
  height: 30px;
  padding: 10px 14px;
  align-items: center;
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
}

.nav-pills:not(.user-nav) > li {
  height: 30px;
  border-radius: 40px;
  background-color: transparent;

  a.active {
    background-color: var(--primary);
    border-radius: 40px;
    height: 30px;
  }

  a:hover {
    border-radius: 40px;
    height: 30px;
  }
}

.nav-pills > li {
  height: 30px;
  border-radius: 40px;
  background-color: transparent;

  > a {
    font-family: IBMPlexMono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
    transition: none !important;

    .active {
      color: var(--secondary);
    }

    :not(.active) {
      color: var(--primary);
    }
  }
}

#create-topic {
  border-radius: 40px;
  border: 1px solid var(--primary) !important;
  height: 30px;
  padding: 10px 14px;
  align-items: center;
  background-color: var(--secondary);
  font-family: IBMPlexMono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;

  svg {
    color: var(--primary);
  }

  &:hover {
    color: var(--primary);
    background-color: transparent;

    svg {
      color: var(--primary);
    }
  }
}

.admin-controls {
  nav {
    background-color: var(--secondary);
  }

  background-color: var(--secondary);
}


@keyframes background-fade-highlight {
  0% {
    background-color: var(--highlight-low);
  }
  100% {
    background-color: var(--secondary);
  }
}

